# Decision tree exercise

In [7]:
import sys
sys.path.append("/Users/migashane/CodeUp/Data_Science/classification-exercises/util_")

import pandas as pd
import numpy as np
import sklearn.metrics

import prepare_
import explore

1. What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [9]:
titanic = prepare.prep_titanic()
train, validate, test = prepare_.split_data_(df=titanic, stratify_col="survived", random_state=95)
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,alone,sex_male,embarked_Q,embarked_S
84,84,1,2,female,17.0,0,0,10.5000,S,1,0,0,1
138,138,0,3,male,16.0,0,0,9.2167,S,1,1,0,1
369,369,1,1,female,24.0,0,0,69.3000,C,1,0,0,0
577,577,1,1,female,39.0,1,0,55.9000,S,0,0,0,1
212,212,0,3,male,22.0,0,0,7.2500,S,1,1,0,1

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

5. Run through steps 2-4 using a different max_depth value.

6. Which model performs better on your in-sample data?

7. Which model performs best on your out-of-sample data, the validate set?

1. Work through these same exercises using the Telco dataset.
2. Experiment with this model on other datasets with a higher number of output classes.